<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.reviewservice.mapper.ReviewMapper">
    <resultMap id="reviewResultMap" type="Review">
        <result property="uid" column="uid"/>
        <result property="userUid" column="user_uid"/>
        <result property="socialUid" column="social_uid"/>
        <result property="orderUid" column="order_uid"/>
        <result property="rate" column="rate"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="status" column="status"/>
        <result property="createdDate" column="created_date"/>
        <result property="version" column="version"/>
    </resultMap>

    <insert id="insertReview" parameterType="Review" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO review (user_uid,social_uid,order_uid,rate,title,content,status,version)
        VALUES (#{userUid},#{socialUid},#{orderUid}, #{rate}, #{title}, #{content}, #{status},#{version});
    </insert>

    <select id="findAllReviews" resultMap="reviewResultMap">
        SELECT
            uid,
            user_uid,
            social_uid,
            order_uid,
            rate,
            title,
            content,
            status,
            created_date,
            version
        FROM review
        WHERE status = 'ACTIVE'
        ORDER BY created_date DESC
    </select>

    <select id="findByUid" parameterType="Integer" resultMap="reviewResultMap">
        SELECT uid, user_uid, social_uid, order_uid, rate, title, content, status, created_date, version
        FROM review
        WHERE uid = #{uid};
    </select>

    <select id="findByUserUid" parameterType="Integer" resultMap="reviewResultMap">
        SELECT uid, user_uid, social_uid, order_uid, rate, title, content, status, created_date, version
        FROM review
        WHERE user_uid = #{userUid};
    </select>

    <update id="deleteByUid" parameterType="Integer" useGeneratedKeys="true" keyProperty="uid">
        UPDATE review
        SET status = 'DELETED'
        WHERE uid = #{uid};
    </update>

</mapper>